<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue. Управление отображением элементов.</title>    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>
<body> 
    <h2>В зависимости от литеры показываем заголовок</h2>   
    <div id="app">
            <h2 v-if="type == 'a'">I'm A</h2>
            <h2 v-else-if="type == 'b'">I'm B</h2>
            <h2 v-else-if="type == 'c'">I'm C</h2>
            <h2 v-else>nothing</h2>
            <hr>
            <input type="text" v-model="type">

            <hr>
            <template v-if="isVisible">
                <h2>Title. template - тег обёртка, не попадающий в html</h2>
                <p>Some text</p>
            </template>
            <template v-else>
                <h2>Title 2</h2>
                <p>Some text 2</p>
            </template>          
    </div>
    


    <script>
        new Vue({
            el: '#app',
            data: {
                type: 'a',
                isVisible: true
            }          
            
        })
    
    
    </script>
</body>
</html>